{% extends 'base.html'%}
{% import 'bootstrap/wtf.html' as wtf%}

{% block styles%}
{{ super() }}

<link rel="stylesheet" href="{{url_for('static',filename='css/login.css')}}">
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8 login-form">
          <h2>SIGN IN</h2>
          
        <!--Flash message -->
        {% for message in get_flashed_messages() %}
        <div class="alert alert-danger">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          {{ message }}
        </div>
        {% endfor %}
        <!-- Login form -->
        {{wtf.quick_form(login_form)}}
        <p style="margin-left:18%; padding-top: 3%; font-family: Open Sans;" > Don't have an account? <a href="{{url_for('auth.register')}}" style="color:#975338;">Sign up here</a></p>
      </div>
      <div clas="col-md-2"> </div>
    </div>
  </div>
</div>
{% endblock %}

