<!-- {% extends 'base.html'%}
{% import 'macros.html' as macro %}
{% import 'bootstrap/wtf.html' as wtf%}


{% block content %}
<div class="container form"> 
    <div class="row">
      <div class= "col-md-2"> </div>
      <div class="col-md-8">
      
     
      
      {{wtf.quick_form(form)}}

      <h3 class="text-center" style="font-weight: bolder;"> COMMENTS</h3>
      <hr style="width: 50%;">
                        {{ macro.displayComment(comment) }}

     </div>
     <div class="col-md-2"> </div>
    </div>
</div>
{% endblock %} -->